@font-face {
    font-family: 'sans-work';
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

h1 {
    font-family: 'sans-work';
    color: hsl(292, 42%, 14%);
}

h3 {
    font-family: 'sans-work';
    color: hsl(292, 42%, 14%);
}

body {
    margin: 0%;
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: repeat-x;
    background-color: hsl(275, 100%, 97%);
}

p {
    font-family: 'sans-work';
    color: hsl(292, 16%, 49%);
}

.answer {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.faq-container {
    width: 40%;
    padding: 50px;
    border-radius: 5%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

.faq-header {
    display: flex;

}

.question {
    display: flex;
    justify-content: space-between;
}

.star-icon {
    margin-right: 5%;
}

@media only screen and (max-width: 375px) {
    .faq-container {
        width: 80%;
    }
}

@media only screen and (min-width: 1440px) {
    .faq-container {
        width: 40%;
    }
}