@font-face {
    font-family: 'sans-work';
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

h1 {
    font-family: 'sans-work';
    color: red;
}

body {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%)
}